# 🧠 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 📦 Dependencies
node_modules/

# 🏗️ Build outputs
dist/
dist-ssr/
build/
uploads/

# ⚙️ Environment variables
.env
.env.local
.env.*.local

# 🧩 Local settings
*.local
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# 💻 OS / Editor files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 🔐 Render / Vercel cache
.vercel/
.render/
